<div class="info-page">
  <h1>About Anothe Pin Co</h1>
  <p>This website is not actually selling pins. <br>
    It's a project from the SuperHi's Ruby on Rails course.
    The e-commerce, is working so if you actually put you credit-card in, it will charge you. <br>
    Though, YOU WILL NOT RECEIVE ANY PIN.<br>
    But then again, I'll be gladly accepting free money ... you choose !
  </p>
  <p>
    Concerning the project, it's actually a really cool one isn't it ?
    If you are looking to build a custom ecommerce website, you can contact me at : <a href="mailto:max.robion@me.com">max.robion@me.com</a> or on Twitter <a href="https://www.twitter.com/MaximeRobion">@MaximeRobion</a>.
  </p>
</div>
