<div class="shop-img">
</div>

<div class="shop-title">
  <h2>2020 Collection</h2>
</div>

<div class="shop-grid">
  <%= render partial: "product", collection: @products %>
</div>

<div class="shop-message">
  <p>Made with ♥️ in the USA </p>
</div>
